/** GLOBALS **/

body {
    padding: 0;
    margin: 0;
}

@media(max-width: 770px) {
    .logo-wrapper {
        justify-content: center;
        &__banner {
            display: none;
        }
    }
}


/* Header-Section */

header {
    .logo-wrapper {
        background-color: #421419d1;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        img {
            margin: 20px;
        }
    }
}


/** Main Section **/


/* Navbar Styling */

main {
    nav {
        background-color: rgba(0, 0, 0, 0.738);
        .navbar {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-between;
            width: 100vw;
        }
        ul {
            display: flex;
            justify-content: flex-end;
            list-style-type: none;
            li {
                padding: 20px;
                margin-left: 20px;
                a {
                    color: white;
                    text-decoration: none;
                }
            }
        }
    }
}